// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {font-family: Arial, Helvetica, sans-serif;}
form {border: 3px solid #f1f1f1; background:#ffff;align-items: center;}

input[type=text], input[type=password] {
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  justify-content:center;
  align-items: center;
}


.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}

img.avatar {
  width: 40%;
  border-radius: 50%;
}

.container {
  text-align:center;
  padding: 16px;
  justify-content:center;
  align-items: center;
}

span.psw {
  justify-content:center;
  align-items: center;
  padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 100%;
  }
}
input[value="read more"]{ display:none; }

input[value="read more"]{
display:none;
}
